@charset "utf-8";
/* CSS Document */
#container {
	width:1300px;
	height:100%;
	border:orange solid 4px;
	margin-left: 30px;
	margin-right:30px;
}
#header {
	width:1300px;
	height:220px;
	background:#FFF;
	text-align:center;
	font-size:24px;
}
h4 {
	color:#F00;
}
	
#h1header {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align:center;
	font-size:15px;
	padding-top:0;
	width:400px;
	margin-left:400px;
	

}
#content {
	width:1060px;
	height:100%;
	float:left;
}
#sidebar {
	width:200px;
	height:380px;
	float:right;
	border:orange solid 5px ;
	margin-top:80px;
	margin-right:20px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#footer {
	width:1300px;
	float:right;
	background-color:#FC0;
	height:50px;
	border-top:solid orange 6px;
	
}
#footer:hover {
	background-color:#FC6;
}
	
a {
	color:red;
	}
a:hover {
	color: #F30;
}
#imagediv {
	border:solid 3px #F96;
	width:450px;
	height:350px;
	float:left;
	margin:15px;
	color:#F30;
	text-align:center;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:25px;
}
#imagediv:hover {
	border:solid 3px #F00;
}
#imagedivhome {
	border:solid 3px #F96;
	width:450px;
	height:405px;
	float:left;
	margin:15px;
	color:#F30;
	text-align:center;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:25px;
}
#imagedivhome:hover {
	border:solid 3px #F00;
}
	
img {
	
	width:440px;
	height:340px;
	text-align:center;
	margin:5px;
	opacity:0.9;
}
img:hover {
	opacity:1;
}
#imghome {
	
	width:440px;
	height:340px;
	text-align:center;
	margin:5px;
	opacity:0.9;
}
#imghome:hover{
	opacity:1;
}
	
	
#joinusbuttondiv {
	text-align:right;
	width:120px;
	float:right;
	height:60px;
	margin:3px;
	margin-right:9px;
	
}
#joinusbutton {
	border:solid orange 5px;
	 font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	  text-align:center;
	  background:#FC0 ;
	  color:black;
	  font-size:18px;
	  
}
#joinusbutton:hover {
	background:#FC9;
	
}
#welcomediv {
	border:solid 6px orange;
	width:1000px;
	height:100%;
	float:left;
	margin:15px;
}
#imghomeheading {
	margin-top:1px;
}
#headerimg {
	width:360px;
	height:160px;
	float:left;
	margin-top:1px;
}
#headerimgdiv {
	width:350px;
	height:150px;
	float:left;
	}
#MenuBar1{
	font-size:15px;
	margin-top:50px;
}